/*including FontAwesome and fond family [ Lato || Railway ] */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
button.myaccount {
    width: auto !important;
    padding: 4px 12px 4px 12px;
}

.caret {
    margin-left: 5px;
}

header {
    border-bottom: 1px solid #cccccc4a !important;
}

.login_area ul li:focus {
    outline: none
}

.login_area ul li {
    margin-left: 2%;
}

.header_heading {
    color: #fff;
    background: #ff9d3a;
    text-align: center;
    padding: 3px 0;
    font-weight: 500;
    letter-spacing: 0;
    font-size: 15px;
    font-variant: small-caps;
}

.header_heading p {
    margin: 0px;
}

.header_heading p a {
    color: #fff;
    padding-left: 40px;
}

.header_heading p a.blink {
    animation: blink 2s linear infinite;
    font-weight: bold;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.header_heading p a:hover {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.header_heading div:first-child {
    text-align: left;
}


/*
.header_heading div:last-child{
    text-align: right;
    padding-right: 5%;
}
*/

.logo>span {
    display: none;
}

.search-top ul {
    padding: 0;
    text-align: right;
}

.search-top ul li {
    list-style: none;
    display: inline-block;
    padding-left: 45px;
    font-size: 13px;
    color: #555;
    font-weight: 500;
}

.search-top ul li select {
    outline: none;
    width: 100%;
    padding: 0px 36px 0px 5px;
    border: 0px solid #666666;
    border: 1px solid #666666;
    color: #666666;
    border-radius: 0;
    -webkit-appearance: none;
    background: url(../../../img/select_bg.png) #fff0 no-repeat 96% 54%;
    height: 27px;
}

.search-top ul li a {
    color: #555;
}

.search-top ul li a:hover,
.search-bottom>ul>li a:hover {
    color: #ff9d3a;
    background-color: transparent;
}

body.header-fixed .search-bottom {
    margin-top: 13px;
}

.search-bottom {
    margin-top: 13px;
}

.search-bottom>ul {
    padding: 0;
    text-align: right;
}

.search-bottom>ul>li {
    list-style: none;
    display: inline-block;
    padding-left: 32px;
    font-size: 13px;
    color: #555;
    font-weight: 500;
}

.search-bottom>ul>li a {
    color: #555;
}

.search-bottom>ul>li a:hover {
    color: #555
}

.dropdown-content2 ul li:hover,
.dropdown-content>div.active a {
    color: #ff9d3a;
}

.search-bottom>ul>li a>span {
    display: inline;
    margin-left: 5px;
}

.search-bottom>ul li a>i {
    display: inline;
    font-size: 16px;
    color: #ff9d3a;
}

.search-bottom>ul li a>i.fa.fa-cart-plus {
    font-size: 20px;
}

.search-bottom>ul>li:nth-child(1) {
    padding-left: 0px;
    position: relative;
}

.search-bottom>ul>li>select {
    border: 0;
    outline: none;
    background: transparent;
}

.search-bottom>ul>li>select {
    outline: none;
    width: 100%;
    padding: 0px 36px 0px 5px;
    border: 0px solid #666666;
    border: 1px solid #666666;
    color: #666666;
    border-radius: 0;
    -webkit-appearance: none;
    background: url(../../../img/select_bg.png) #fff0 no-repeat 96% 54%;
    height: 27px;
}

.search-bottom>ul>li:nth-child(2) {
    width: 46%;
    padding-left: 2px;
}

.search-bottom>ul>li>input {
    display: inline;
    color: #555;
    padding: 3px 0 3px;
    padding-left: 8px;
    outline: none;
    width: 100%;
    letter-spacing: 0.5px;
    border: 1px solid #d0d0d0;
    border-right: 0;
    background: transparent;
    height: 30px;
    border-radius: 4px;
}

.search-bottom>ul>li>span.search_btn {
    margin-left: -4px;
    position: relative;
    top: -2px;
}

.dropdown-menu {
    border-radius: 0px;
    letter-spacing: 0.5px;
    left: -30px
}

.search-products button {
    position: absolute;
    right: -2px;
}

.search-bottom>ul>li button {
    background: #fff;
    border: 1px solid #d0d0d0;
    width: 30px;
    height: 30px;
    font-size: 13px;
    color: inherit;
    font-weight: 500;
    color: #757575;
}

.mobile_hidden>.dropdown>button {
    -webkit-appearance: none !important;
    background: url(../../../img/down_icon.png) no-repeat !important;
    background-position: 95% !important;
    padding: 4px 25px 4px 12px;
}

.mobile_hidden>.dropdown>button:hover {
    color: #757575 !important
}

.caret {
    display: none !important
}

.search-bottom>ul>li>span.search_btn button i {
    position: relative;
    top: 4px;
    font-size: 13px;
}

.search-bottom>ul>li.mobile_hidden {
    display: inline-block;
}

.search-bottom>ul>li.mobile_visible {
    display: none;
}


/* header fixed navigation */

body.header-fixed header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999999999;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    padding: 0;
    border-bottom: 1px solid #969696cc;
    animation: moon 400ms linear;
}

body.header-fixed .search-bottom>ul>li.header-fixed_visible {
    display: inline-block;
}

body.header-fixed .search-top {
    display: none;
}

.img_logo {
    width: 150px;
    padding: 8px 0
}

@keyframes moon {
    from {
        -webkit-transform: translateY(-61.5px);
        opacity: 0;
        transform: translateY(-61.5px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0px);
        opacity: 1;
        transform: translateY(0px);
        opacity: 1;
    }
}

.translator i {
    display: none;
}


/* mega menu */

.dropbtn {
    margin-right: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.dropbtn:hover {
    border-bottom: 2px solid #ff9d3a;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropbtn>b {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #000;
    display: inline-block;
    margin-left: 7px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -200px;
    top: 38px;
    background-color: #ffffff;
    min-width: 250px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.22);
    text-align: left;
    width: 1150px;
    z-index: 9999999999;
}

.dropdown-content.dropdown-content_right {
    left: 762%;
    z-index: 1;
}

.dropdown-content .menu-item-list {
    width: 19%;
    display: inline-table;
    padding: 20px;
}

.dropdown-content .menu-item-list:nth-child(even) {
    background-color: #fbfbfb;
}

.dropdown-content .menu-item-list h4,
.dropdown-content .menu-item-list h4 a {
    font-size: 14px;
    font-weight: bold;
    color: #ff9d3a;
}

.dropdown-content .menu-item-list ul li a {
    padding: 3px 5px 3px 0px;
    display: block;
}

.dropdown-content .menu-item-list ul li a:hover,
.dropdown-content .menu-item-list h4 a:hover {
    font-weight: bold;
    color: #055864;
}

.dropdown-content .menu-item-list ul {
    list-style: none;
}

.dropdown-content>div i {
    color: #055864;
    float: right;
    font-size: 18px;
}

.dropdown-content>div.active i {
    color: #ff9d3a;
}

.dropdown:hover .dropdown-content {
    display: block;
    transform: translateY(0px);
    animation: megaMenu 400ms ease-in-out;
}

@keyframes megaMenu {
    0% {
        display: none;
        transform: translateY(10px);
    }
    2% {
        display: block;
        transform: translateY(10px);
    }
    100% {
        display: block;
        transform: translateY(0px);
    }
}

.dropbtn>i {
    position: absolute;
    height: 34px;
    background: transparent;
    left: 0;
    bottom: -30px;
    right: 0;
}

.dropdown>span:hover .dropdown-content {
    display: block;
    z-index: 1;
}

.dropdown-content>div>a>span {
    position: relative;
    display: inline-block;
}

.dropdown-content>div>a>span:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 100%;
    right: 100%;
    height: 2px;
    background: #ff9d3a;
    transition: 700ms ease-in-out;
}

.dropdown-content>div.active>a>span:after {
    left: 0%;
    right: 0%;
}

.mega_drop {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    right: -68%;
    top: 0px;
    bottom: -386px;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.22);
    z-index: -1;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    transform: translateX(59%);
    text-align: left;
    /* max-width: 430px; */
}

.dropdown-content.dropdown-content_right .dropdown-content2 {
    left: -267%;
    right: 199%;
}

.dropdown-content2 ul {
    display: flex;
    flex-wrap: wrap;
}

.dropdown-content2 ul li {
    width: 50%;
    list-style: none;
    line-height: 43px;
    padding-left: 28px;
}

.dropdown-content2.active {
    display: block !important;
}

.dropdown-content .mega_drop:nth-child(2) .dropdown-content2 {
    transform: translate(59%, -48px)
}

.dropdown-content .mega_drop:nth-child(3) .dropdown-content2 {
    transform: translate(59%, -96px)
}

.dropdown-content .mega_drop:nth-child(4) .dropdown-content2 {
    transform: translate(59%, -144px)
}

.dropdown-content .mega_drop:nth-child(5) .dropdown-content2 {
    transform: translate(59%, -192px)
}

.dropdown-content .mega_drop:nth-child(6) .dropdown-content2 {
    transform: translate(59%, -240px)
}

.dropdown-content .mega_drop:nth-child(7) .dropdown-content2 {
    transform: translate(59%, -288px)
}

.dropdown-content .mega_drop:nth-child(8) .dropdown-content2 {
    transform: translate(59%, -336px)
}

.dropdown-content .mega_drop:nth-child(9) .dropdown-content2 {
    transform: translate(59%, -384px)
}

body.header-fixed .dropdown-content {
    top: 34px;
}

.mobile_header_menu {
    display: none;
}


/*  New Add Css  */

.goog-te-gadget .goog-te-combo option {
    margin: 5px 0
}

.bag_pad_0 {
    padding-left: 8px !important;
}

.top_tx {
    float: right
}

.search-bottom>ul>li>a>img {
    position: relative;
    top: -2px;
    width: 22px
}

.fst_top_sec {
    padding: 0;
}

.dropdown .dropdown-menu {
    left: 0;
    margin: 0
}

.dropdown .dropdown-menu>li>a {
    padding: 3px 12px;
    font-weight: 500;
    color: #565656
}

.dropdown .dropdown-menu>li>a>b {
    font-weight: 500
}

.dropdown .dropdown-menu {
    font-size: 13px;
}

.dropdown .dropdown-menu>li>a:focus {
    outline: none;
    outline-offset: none;
}

@media screen and (max-width: 1199px) {
    .search-bottom ul li>input {
        width: 100%;
    }
    .search-bottom ul li {
        padding-left: 18px;
        vertical-align: middle;
    }
    .dropdown-content .menu-item-list ul li {
        padding: 0px;
    }
    .search-bottom ul li>span.search_btn {
        margin-left: -4px;
    }
}

@media screen and (max-width:991px) {
    .search-bottom>ul>li:nth-child(2) {
        width: 33%;
        padding-left: 2px;
    }
    .search-bottom ul li>input {
        width: 100%;
    }
    .search-bottom ul li>span {
        margin-left: 5px;
    }
    .search-bottom ul li {
        padding-left: 1px;
        font-size: 12px;
        margin-right: 2px;
    }
    .search-top ul li {
        padding-left: 24px;
        font-size: 15px;
    }
    .search-bottom>ul>li a>span {
        margin-left: 3px;
    }
}

@media screen and (max-width:1199px) and (min-width:768px) {
    .dropdown-content.dropdown-content_right {
        left: 440%;
        z-index: 1;
    }
    .dropdown-content {
        left: -220%;
        min-width: 182px;
    }
    .dropdown-content2 {
        right: -68%;
    }
}

@media screen and (max-width:1199px) {
    .dropdown-content {
        left: -155px;
        width: 767px;
    }
    .dropdown-content.dropdown-content_right {
        left: 439%;
    }
}

@media screen and (max-width:767px) {
    .translator #google_translate_element {
        display: none;
    }
    .bag_pad_0 {
        padding: 0 !important
    }
    .search-bottom>ul {
        margin-bottom: 0
    }
    div#google_translate_element_mobile {
        border-bottom: 1px solid #e4e4e4;
    }
    div#google_translate_element_mobile select {
        border: 1px solid #ff9d3a91;
        margin: 4px 6%;
        font-size: 13px;
        text-transform: capitalize;
        background: url(../../../img/down_icon.png) no-repeat center right 7%;
    }
    .search-top {
        display: none;
    }
    .search-bottom ul li:nth-child(1) {
        display: none;
    }
    .search-bottom ul li:nth-child(2) {
        display: none;
    }
    .search-bottom ul li a>span {
        display: none;
    }
    header {
        padding: 3px 5px;
        border-bottom: 1px solid rgba(40, 44, 63, .1);
    }
    .header-v2 .header_main img {
        float: none
    }
    .header-v2 {
        padding: 5px 5px !important;
    }
    header .header_main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
    }
    .logo {
        margin-top: 3px;
        display: block;
        float: left;
    }
    .logo img {
        width: 23px !important;
    }
    .logo>span {
        display: block;
        height: 27px;
    }
    .logo .mobile_menu {
        display: inline-block;
        width: 23px;
        height: 2px;
        background: #045663;
        position: relative;
    }
    .logo .mobile_menu:before {
        content: "";
        position: absolute;
        left: 0;
        width: 23px;
        height: 2px;
        background: #045663;
        top: 7px;
    }
    .logo .mobile_menu:after {
        content: "";
        position: absolute;
        left: 0;
        width: 23px;
        height: 2px;
        background: #045663;
        top: -7px;
    }
    .header_heading {
        letter-spacing: 0.5px;
        font-size: 11px;
        display: none;
    }
    .search-bottom {
        margin-top: 0;
    }
    .search-bottom ul li.mobile_visible {
        display: inline-block;
    }
    .search-bottom ul li.mobile_hidden {
        display: none;
    }
    .header-fixed_visible {
        display: none !important;
    }
    body.header-fixed img.img_logo {
        width: 105px;
    }
    body.header-fixed header {
        padding: 3.3px 5px;
    }
    .mobile_header_menu {
        background: #fff;
        width: 100%;
        display: block !important;
        position: fixed;
        top: 45px;
        z-index: 99999;
        bottom: 0;
        box-shadow: 3px 5px 16px 0px rgba(0, 0, 0, 0.22);
        transform: translateX(-116%);
        transition: 700ms ease-in-out;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        overflow-y: scroll;
    }
    .mobile_header_menu::-webkit-scrollbar {
        width: 0px;
        height: 0;
    }
    .mobile_header_menu::-webkit-scrollbar-button {
        width: 0px;
        height: 0;
    }
    .mobile_header_menu::-webkit-scrollbar-thumb {
        width: 0;
        height: 0px;
    }
    .mobile_header_menu.active {
        transform: translateX(0%);
        -webkit-transform: translateZ(0%);
    }
    body.header-fixed .mobile_header_menu.active {
        -webkit-transform: translateX(0px);
        animation: moon2 400ms linear;
        -webkit-animation: rays 40s linear 0s infinite;
        -moz-animation: rays 40s linear 0s infinite;
    }
    @keyframes moon2 {
        from {
            -webkit-transform: translateX(-116%);
            opacity: 0;
            transform: translateX(-116%);
            opacity: 0;
        }
        to {
            -webkit-transform: translateX(0px);
            opacity: 1;
            transform: translateX(0px);
            opacity: 1;
        }
    }
    .mobile_header_menu .accordion {
        width: 100%;
        margin: 0 auto;
    }
    .mobile_header_menu .accordion-toggle {
        cursor: pointer;
        margin: 0;
        position: relative;
        font-size: 13px;
        letter-spacing: 0px;
        text-transform: capitalize;
    }
    .mobile_header_menu h4 {
        text-transform: capitalize;
        border-bottom: 1px solid #e4e4e4;
        padding: 12px 0;
        padding-left: 6%;
    }
    .accordion .accordion-toggle.active {
        color: #ff9d3a
    }
    .mobile_item a.active {
        color: #ff9d3a
    }
    .mobile_header_menu>ul>li:nth-child(2) h4 {
        border-top: 1px solid #e4e4e4;
    }
    .mobile_header_menu .accordion-toggle.active:after {
        content: " ";
        position: absolute;
        right: 16px;
        top: 15px;
        background: url(../../../img/according1.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 12px;
        height: 12px;
    }
    .mobile_header_menu .accordion-toggle:before {
        content: " ";
        position: absolute;
        right: 16px;
        top: 15px;
        background: url(../../../img/according2.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 12px;
        height: 12px;
    }
    .mobile_header_menu .accordion-toggle.active:before {
        display: none;
    }
    .mobile_header_menu .accordion-content {
        display: none;
        padding: 0px 0 0 8%;
    }
    .mobile_header_menu .accordion-content ul li {
        list-style: none;
        padding: 8px;
    }
    .mobile_header_menu .accordion-content ul li a {
        font-size: 13px;
    }
    .mobile_header_menu .accordion-content ul li a {
        padding: 8px 0 8px 15px;
        border-bottom: 0px solid #cacaca;
        position: relative;
        z-index: 2;
        display: inline-block;
    }
    .mobile_header_menu ul {
        margin-bottom: 0;
    }
    .mobile_header_menu .accordion-content>ul>li {
        position: relative;
    }
    .favric_icon.active:after {
        content: " ";
        position: absolute;
        right: 16px;
        top: 12px;
        background: url(../../../img/according1.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 12px;
        height: 12px;
    }
    .favric_icon:before {
        content: " ";
        position: absolute;
        right: 16px;
        top: 12px;
        background: url(../../../img/according2.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 12px;
        height: 12px;
    }
    .favric_icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .mobile_item .favric_icon:before:nth-child(8) {
        display: none !important;
    }
    .favric_icon.active:before {
        display: none;
    }
    .moblie_item_visible {
        display: none;
    }
    content.mobile_click_accord>ul {
        padding: 3px 0% 9px 11%;
    }
    .mobile_header_menu ul li {
        color: #555;
        font-size: 13px !important;
        font-weight: 500;
    }
    .mobile_header_menu>ul>li {
        margin-bottom: -11px;
    }
    .mobile_header_menu ul li a h4 {
        font-size: 13px;
    }
    .mobile_header_menu ul li:nth-child(1) {
        margin-bottom: -1px;
    }
    .mobile_header_menu ul li:nth-child(1)>span {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #a1a1a1;
        margin-bottom: 6px;
    }
    .mobile_sign {
        padding-top: 5%;
    }
    .mobile_header_menu .accordion-content ul li {
        list-style: none;
        padding: 0 0;
        position: relative;
        z-index: 3;
    }
    .mobile_header_menu ul li a {
        color: #555;
        font-size: 15px;
        font-weight: 500;
    }
    .mobile_header_menu ul li a {
        display: block;
    }
    .moblie_item_visible ul li {
        padding-left: 18px !important;
    }
    .mobile_header_menu ul li .mobile_sign>span a {
        display: inline-block;
        border: 1px solid #055864;
        padding: 2px 12px 1px;
        margin-right: 24px;
        font-size: 12px !important;
        color: #055864;
    }
    .mobile_search>input {
        border: none;
        padding: 16px 0 16px 0;
        font-size: 15px;
        outline: none;
        display: table-cell;
        width: 100%;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
    .mobile_search>input::placeholder {
        color: #ccc;
    }
    .mobile_search {
        display: table-cell;
        width: 100%;
    }
    .mobile_search.active {
        display: block;
    }
    body.header-fixed .mobile_search.active {
        position: fixed;
        animation: moon 400ms linear;
    }
    body.header-fixed .search-bottom>ul>li i {
        font-size: 16px;
    }
    .header-v2 .row .col-sm-2 {
        width: 35% !important;
    }
    .header-v2 .row .col-sm-8 {
        width: 30% !important;
    }
    .shield label {
        font-size: 11px !important;
        margin: 0px 0px 0px 5px !important;
    }
    .shield i {
        font-size: 20px !important;
    }
    .header-v2 img {
        width: 91px !important;
    }
    .checkout_menu ul {
        display: none;
    }
    .checkout_menu ul li {
        font-size: 10px !important;
    }
    .steps-mobile {
        display: inline-block !important;
    }
    #navbar-close>span>i {
        width: 23px
    }
}

@media(max-width:414px) {
    .img_logo {
        width: 105px;
        float: right;
        padding: 0;
    }
}

.shield {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.shield label {
    margin: 0px 0px 0px 10px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}

.shield i {
    font-size: 30px;
    color: #10caa5;
}

.checkout_menu {
    padding: 16px 0px;
}

.header-v2 {
    border-bottom: 1px solid #969696cc;
    padding: 5px 0px;
}

.header-v2 img {
    width: 121px;
}

.steps-mobile {
    display: none;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
}

.header_main .col-sm-2,
.header_main .col-sm-10 {
    padding: 0px;
}

ul.account-mobile li:before {
    background: transparent !important;
}

span.recognition {
    position: absolute;
    right: 0;
    top: 12px;
    color: #000;
    font-size: 15px;
    text-align: right;
    cursor: pointer;
}

span.recognition:focus,
span.recognition:active {
    background: #cccccc75;
    border-radius: 50%;
}

span.recognition i {
    margin-top: 7px;
}

.mobile_search_window {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #fff;
    z-index: 99999999999;
    left: 0;
    display: none;
    -webkit-transform: scaleY(0);
}

.mobile_search_window.active {
    transform: scaleY(0);
    -webkit-transition: opacity .3s ease-in, transfrom .3s ease-out;
    transition: opacity .3s ease-in, transfrom .3s ease-out;
    -webkit-transform-origin: center;
    transform: scale(1, 1);
    display: block;
    transform-origin: center;
    width: 100%;
    padding: 0 10px;
}

.mobile_search_window ._2ItTa6 {
    display: table-cell;
    vertical-align: middle;
    background-color: #fff;
}

.mobile_serach_group {
    border-bottom: 1px solid #eaeaea;
    position: relative;
    padding: 0 12px 0 0px;
}

.mobile_search_window .suggesions {
    height: 88%;
    overflow: scroll;
    overflow-x: hidden;
}

.mobile_search_window .suggesions p {
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    background: #EAEAEC;
    margin: 0px;
    font-weight: bold;
}

.mobile_search_window .suggesions a {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    font-family: 'Nunito', sans-serif;
    color: inherit;
}

.mobile_search_window .suggesions a::after {
    content: "\f0c1";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 20px;
    top: 15px;
}

.dropdown .dropdown-menu>li>a:hover {
    background: #ff9d3a;
    color: #fff;
}

.mobile_header_menu ul li:nth-child(1)>span {
    background-color: transparent;
}